<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titre de la page</title>
    <!-- Insérez ici vos balises meta pour le SEO -->
    <meta name="description" content="Description de votre page pour le SEO">
    <meta name="keywords" content="Mots-clés pertinents pour votre contenu">
    <meta name="author" content="Votre nom ou celui de votre entreprise">
    <!-- Liens vers vos fichiers CSS -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Contenu de votre page -->
    <header>
        <h1>Titre Principal</h1>
        <nav>
            <ul>
                <li><a href="#section1">Section 1</a></li>
                <li><a href="#section2">Section 2</a></li>
                <!-- Ajoutez d'autres liens de navigation au besoin -->
            </ul>
        </nav>
    </header>


    <h1>hello {{ var }}</h1>



</body>
</html>

